# STAR PATTERN USING PYTHON

In [50]:
n=8
for i in range(0,n):
    print("*"*(i+1))

*
**
***
****
*****
******
*******
********

In [49]:
n=8
for i in range(0,n):
    print(" "*(n-i-1)+"*"*(i+1))

       *
      **
     ***
    ****
   *****
  ******
 *******
********

In [47]:
n=8
for i in range(0,n):
    print("*"*(n-i))

********
*******
******
*****
****
***
**
*

In [44]:
n=8
for i in range(0,n):
    print(" "*(i)+ "*"*(n-i))

********
 *******
  ******
   *****
    ****
     ***
      **
       *

In [43]:
# Triangle star patter
n=8
for i in range(0,n):
    print(" "*(n-i-1)+"* "*(i+1))

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *
* * * * * * * *

In [42]:
# downward triangle star pattern
n=8
for i in range(0,n):
    print(" "*(i),"* "*(n-i))

 * * * * * * * *
  * * * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [41]:
n=8
for i in range(0,n):
    print(" "*(n-i-1)+"* "*(i+1))
for i in range(0,n):
    print(" "*(i+1)+"* "*(n-i-1))

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *
* * * * * * * *
 * * * * * * *
  * * * * * *
   * * * * *
    * * * *
     * * *
      * *
       *

In [40]:
n=10
for i in range(0,n):
    if(i==0 or i==(n-1)):
        print("*"*n)
    else:
        print("*"+(" "*(n-2))+"*")

**********
*        *
*        *
*        *
*        *
*        *
*        *
*        *
*        *
**********

In [39]:
n=10
for i in range(0,n):
    if i==0:
        print("*"*n*2)
    else:
        print("*"*(n-i)+"  "*i+"*"*(n-i))

********************
*********  *********
********    ********
*******      *******
******        ******
*****          *****
****            ****
***              ***
**                **
*                  *

In [37]:
n=10
for i in range(0,n):
        print("*"*(n-i)+"  "*i+"*"*(n-i))
for i in range(0,n):
        print("*"*(i+1)+"  "*(n-i-1)+"*"*(i+1))

********************
*********  *********
********    ********
*******      *******
******        ******
*****          *****
****            ****
***              ***
**                **
*                  *
*                  *
**                **
***              ***
****            ****
*****          *****
******        ******
*******      *******
********    ********
*********  *********
********************

In [36]:
n=8
for i in range(0,n):
    print(" "*(i+1)+"*"*(i+1))
for i in range(0,n):
    print(" "*(n-i-1)+"*"*(n-i-1))

 *
  **
   ***
    ****
     *****
      ******
       *******
        ********
       *******
      ******
     *****
    ****
   ***
  **
 *

In [35]:
# Important star pattern
n=10
print(" "*(n-1)+"*")
for i in range(0,n-2):
        print( " "*(n-i-2)+"*","  "*(i)+"*")
print("* "*(n))

         *
        * *
       *   *
      *     *
     *       *
    *         *
   *           *
  *             *
 *               *
* * * * * * * * * *

In [34]:
n=10
print("* "*((n*2)-1))                                 #first line stars
for i in range(0,n-2):
        print(" "*((i+1)) + "* "*((n-i-2)),end="")    #first two triangles (" ",*)
        print( "*","  "*(i)+"* ",end="")              #border triangle
        print("* "*(n-i-2))                           #2nd down star triangle
print(" "*(n-1)+"* "*n)                               #mid line stars
for i in range(0,n-1):
        print(" "*((n))+ " "*((i))+"* "*((n-i-1)))    #(" "," ")are the spaces and * is the lower down star triangle

* * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * *
  * * * * * * * *   * * * * * * * *
   * * * * * * *     * * * * * * *
    * * * * * *       * * * * * *
     * * * * *         * * * * *
      * * * *           * * * *
       * * *             * * *
        * *               * *
         * * * * * * * * * *
          * * * * * * * * *
           * * * * * * * *
            * * * * * * *
             * * * * * *
              * * * * *
               * * * *
                * * *
                 * *
                  *